
body {
    background-color: lightslategray;
}

h1 {
    font-weight: bold;
    text-align: center;
    font-size: 4em;
    padding-top: 2em;
}

ul {
    text-decoration: none;
    text-align: center;
    padding-top: 0.5em;
}
h2 {
    font-weight: bold;
    text-align: center;
    font-size: 2em;
    padding-top: 1em;
}

p {
    text-align: center;
    font-size: 1em;
}

.familyDiv {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 1em;
}

.family-image {
    width: 23em;
    height: 20em;
}

.petDiv {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

}

nav {
    display: flex;
    justify-content: space-between;
    background-color: gray;
}

a {
    color: black;
    text-decoration: none;
    font-weight: bold;

}

img {
    width: 75%;
    height: 75%;
    object-fit: scale-down;

}

#executiveDiv {
    border: 1px solid black;
    box-shadow: 2px 2px 2px 2px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    max-width: 80%;
    display: block;
    margin: auto;
}